$main-blue: #0695d6;
$secondary-blue: #17b2f8;
$light-blue: #d1f0fe;

$brand-color: #0695d6;
$secondary-color: #17b2f8;


$gray-btn-link:#a6a8ab;
$gray-title: #424242;
$gray-subtitle: #767676;
$gray-placeholder: #999999;
$gray-outline: #cccccc;
$gray-bg: #f2f2f2;
$gray-hover: #b3b3b3;
$gray-dark: #636363;
$gray-wizard:#eeeeee;
$box-information:#D1F0FE;

$main-green: #33b560;
$secondary-green: #6dc76e;
$gren-hover:#218838;;

$main-yellow: #f7931e;
$danger-brand: #f44040;
$table-head:#ececec;
