//Responsive font-size

/*$font-brand: 'Roboto', sans-serif;

html, body {
  font-family: $font-brand, $font-family-sans-serif;
}


/*
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}*/